.pikachu-animated,
.pikachu-container{
  height: 50vh;
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: var(--background);
  justify-content: center;
}

.pikachu-scroll{
  width: 100vw;
  overflow-x: scroll;
}

.pikachu-animated{
  height: 60vh;
}

.pikachu-container {
  height: 40vh;
  min-width: 1300px;
}

.pikachu-container .pikachu-block{
  display: inline-block;
  position: relative;
  margin: auto;
  width: 32em;
  font-size: 7px;
  height: 32em;
}
